<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.antonnovoselov.VivaDicta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vivadicta</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>INAlternativeAppNames</key>
    <array>
        <dict>
            <key>INAlternativeAppName</key>
            <string>Viva Notes</string>
            <key>INAlternativeAppNamePronunciationHint</key>
            <string>Viva Nots</string>
        </dict>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>NSAppIconActionTintColorName</key>
            <string>AccentColor</string>
            <key>NSAppIconComplementingColorNames</key>
            <array>
                <string>ComplementingGradientColor1</string>
                <string>ComplementingGradientColor2</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
