<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Transcribe with VivaDicta</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>ActionIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>ActionIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>ActionIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>ActionIcon</string>
		</dict>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
                    extensionItems,
                    $extensionItem,
                    SUBQUERY (
                        $extensionItem.attachments,
                        $attachment,
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.ogg" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.mpeg-4-audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.mp3" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.microsoft.windows-media-wma" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.aifc-audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.aiff-audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.midi-audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.ac3-audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.microsoft.waveform-audio"
                    ).@count == 1
                ).@count > 0</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ui-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ActionViewController</string>
	</dict>
</dict>
</plist>
